<div class="card m-3">
    <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.shortText }}.</p>
    </div>
</div>