{% block body %}
    <div class="container d-flex flex-wrap justify-content-center">
        {% for post in posts %}
            {% include 'components/posts/post_card.html.twig' with {'post' : post}%}
        {% endfor %}
    </div>
{% endblock %}